
.postDetail-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px
  }

.postDetail-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 70%;
  text-align: center;
}

.postDetail-image {
  width: 1000px;
  height: 600px
}

.postDetail-author {
  margin-bottom: 20px;
  font-size: 25px
}

.postDetail-content {
  text-indent: 60px;
  max-width: 80%;
  margin: 40px 0 40px 0;
  text-align: justify;
}

.postDetail-edit {
  background-color:#B2B1CF;
}

.postDetail-delete {
  background-color:#B2B1CF;
}

.postDetail-btns *{
  margin: 0 10px 20px 10px;
  height: 50px;
  width: 200px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: yellow
} 

.edit-link {
  padding: 10px
}

.postDetail-commentSection {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Monoton', cursive;
  background-color: #80F5D2;
  margin: 20px 0;
}

.lac {
  background-color: lightcoral;
  color: white;
  height: 50px;
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  margin:10px 0 40px 0
}

.lac-message {
  font-size: 20px;
  font-weight: bold;
}

.lac-signup {
  text-decoration: none;
  color: blue
}

.lac-signin {
  text-decoration: none;
  color: darkgreen
}

.postDetail-comments {
  max-width: 40%;
  align-self: center;
  margin: 0 auto;
}

.postDetail-commentContainer {
  text-align: center;
}


@media (max-width: 1050px) {
  
  .postDetail-image {
  width: 700px ;
  height: 450px
  }
}

@media (max-width: 800px) {
  .postDetail-image {
    width: 500px;
    height:300px
  }
}

@media (max-width: 500px) {
  .postDetail-image {
    width: 400px;
    height: 300px
  }
  .postDetail-title {
    font-size: 30px
  }
  .postDetail-edit {
    width:100px
  }
  .postDetail-delete {
    width: 100px
  }
  .lac {
    width: 100px;
    font-size: 15px
  }
}