.main-container {
  background: #B2B1CF;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin: 0 auto 0 auto;
}

.main-intro-image {
  max-width: 60%;
  max-height: 100%;
  display: flex;
  margin: 0 auto
}

.main-content {
  text-align: center;
  max-width: 60%;
  align-self: center;
}

.latest-posts {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Monoton', cursive;
  background-color: #80F5D2;
  word-spacing: 15px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  justify-content: center;
}