.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 auto;
  max-width: 60%;
}

.main-intro-image {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  margin: 0 auto
}

.main-content {
  text-align: center;
}

.latest-posts {
  text-align:center;
  font-size: 50px;
  font-weight: bold;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  max-width: 80%;
  justify-content: center;
}