.signin-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0px 20px 10px;
  justify-content: center;
  margin: 100px auto;
  box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  width: 300px;
  height: 300px;
  background-color: #B2B1CF;
}

.input-lbl {
  text-align: center;
  height:30px;
  width: 200px;
  border: 2px solid grey;
}

.signin-label {
  margin: -5px 0 -5px 0;
}

.form-title {
  text-align: center;
}

.signin-btn {
  background-color: #80F5D2;
  color: black;
  height: 28px;
  width: 100px;
  border-radius: 10px;
  font-weight: 600;
  margin: 20px auto 30px auto;
}

.regPrompt * {
  margin: 10px
}

.signUp-link {
  text-decoration: none;
}