.signup-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 20px 10px;
  justify-content: center;
  margin: 100px auto;
  box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  width: 300px;
  height: 300px;
  background-color: #B2B1CF
}

.input-lbl {
  text-align: center;
  width: 200px;
  border: 2px solid grey;
}

.signup-label {
  margin: -5px 0 -5px 0;
}

.form-title {
  text-align: center;
  padding: 0;
  margin: 0px 0 20px 0;
  color: #FFFAFF
}

.signup-btn {
  background-color: #80F5D2;
  color: black;
  height: 28px;
  width: 100px;
  border-radius: 10px;
  font-weight: 600;
  margin: 30px auto 20px auto;
}

.loginPrompt * {
  margin: 10px
}

.signIn-link {
  text-decoration: none;
}