.headerNavContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #468189
}

.headerNavLink {
  text-decoration: none;
  color: #80F5D2;
  font-weight: bold;
  margin: 10px;
  font-size: 17px;
}


.headerNavUser {
  text-decoration: none;
  color: #EFCB68;
  font-weight: bold;
  margin: 10px;
  font-size: 17px;
}

.headerNavAdmin {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 10px;
  font-size: 17px;
}


@media (max-width: 608px) {
  .headerNavLink {
    font-size: 16px;
  }
  .headerNavUser {
    font-size: 16px;
  }
  .headerNavAdmin {
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .headerNavLink {
    font-size:10px;
    margin: 10px 0
  }

  .headerNavUser {
    font-size: 13px;
    margin: 10px 0
  }
  .headerNavAdmin {
    font-size:13px;
    margin: 10px 0
  }
}
