@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.header-wrapper {
  height: 200px;
  border-bottom: 2px solid black;
  display:flex;
  flex-direction: column;
  text-align: center;
}
/* 
.header-wrapper {
  margin: 0 auto
} */

.site-title {
  text-align:center;
  font-size: 60px;
  margin: 50px 0 20px 0;
  font-family: 'Monoton', cursive;
}
