.headerNavContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #468189
}

.headerNavLink {
  text-decoration: none;
  color: #80F5D2;
  font-weight: bold;
  margin: 10px;
  font-size: 17px;
  
}