@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.header-wrapper {
  height: 200px;
  border-bottom: 2px solid black;
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color: #80F5D2;
}

.site-title {
  text-align:center;
  font-size: 60px;
  margin: 50px 0 20px 0;
  font-family: 'Monoton', cursive;
  font-weight: 500;
  color: #031926
}



@media (max-width: 670px) {
  .site-title {
    font-size: 40px;
    margin: 80px 0 19px 0
  }
}

@media (max-width: 494px) {
  .site-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  
}